<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823042910835-hk8bue3g423geaqhcmf5okno5vso952h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823042910835-hk8bue3g423geaqhcmf5okno5vso952h</string>
	<key>API_KEY</key>
	<string>AIzaSyDZX66OR7QapGvwUY4AVTDPhbWfMXWC0zk</string>
	<key>GCM_SENDER_ID</key>
	<string>823042910835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myeyes1</string>
	<key>PROJECT_ID</key>
	<string>pfeapp-bc690</string>
	<key>STORAGE_BUCKET</key>
	<string>pfeapp-bc690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823042910835:ios:93b58562da3f49bd86d806</string>
</dict>
</plist>